@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

:root {
  --text-color: #333;
}

html, body, .full-screen {
  height: 100%;
  min-width: 320px;
  min-height: 300px
}
body {
  margin: 0;
  overflow: hidden;
}
.full-screen {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
  display: flex;
}

.imageArea {
  flex: 1 1 auto;
  background-image: url('../images/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textArea {
  width: 350px;
  width: 40%;
  vertical-align: middle;
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 1.2;
  margin: auto;
}
h1 {
  font-size: 80px;
  color: var(--text-color);
  font-weight: 500;
  margin: 0px;
  transition-duration: 0.5s;
  padding-bottom: 35px;
}
h2 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  margin: 0px;
  transition-duration: 0.5s;
}
.socialheader {
  z-index: 1;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}
.socialicon {
  font-size: 50px;
  color: var(--text-color);
  background-color: transparent;
  padding-right: 5px;
  transition-duration: 0.5s;
}
.socialicon:hover {
  color: #000;
  transition-duration: 0.5s;
}

/*
@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 24px;
  }
  .textArea {
    width: 40%;
  }
}*/
@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 18px;
  }
  .textArea {
    width: 45%;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 16px;
  }
  .textArea {
    width: 45%;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 14px;
  }
  .textArea {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #000;
  }
  .textArea {
    position: absolute;
    width: 100%;
    padding-top: 75px;
  }
  .imageArea {
    background-image: url('../images/bg2.jpg');
    width: 100%;
    margin-top: 100px;
  }
  h1 {
    color: #fff;
    font-size: 64px;
    padding-bottom: 20px;
  }
  h2 {
    color: #eaeaeb;
    font-size: 18px;
  }
  .socialicon {
    color: #fff;
  }
  .socialicon:hover {
    color: #eaeaeb;
  }
}
@media only screen and (max-width: 300px) {
  body {
    background-color: #000;
  }
  .textArea {
    position: relative;
    width: 100%;
    padding-top: 60px;
    text-align: center;
  }
  .imageArea {
    width:0%;
    background-image: none;
  }
  h1 {
    color: #fff;
    font-size: 64px;
  }
  h2 {
    color: #eaeaeb;
    font-size: 18px;
  }
  .socialicon {
    padding: 0px;
    color: #fff;
  }
  .socialicon:hover {
    color: #eaeaeb;
  }
}
